.vs/
x64/
TEMP/

*.log
*.obj
*.pdb
*.ilk
*.ipch
*.tlog
*.lastbuildstate
*.recipe
*.cache
*.idb
*.iobj
*.ipdb

CrimsonWeatherReshade/.vs/
CrimsonWeatherReshade/x64/
CrimsonWeatherReshade/CrimsonW.*/
CrimsonWeatherReshade/*.vcxproj.user
