#include <winres.h>
#include "mod_metadata.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MOD_VERSION_RC
 PRODUCTVERSION MOD_VERSION_RC
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", MOD_COMPANY_NAME "\0"
            VALUE "FileDescription", MOD_ADDON_DESCRIPTION "\0"
            VALUE "FileVersion", MOD_VERSION "\0"
            VALUE "InternalName", MOD_INTERNAL_NAME "\0"
            VALUE "OriginalFilename", MOD_ORIGINAL_FILENAME "\0"
            VALUE "ProductName", MOD_NAME "\0"
            VALUE "ProductVersion", MOD_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
